body{
  font-family: sans-serif;
}
h1,h2{
  color: gray;
  font-size: 50px;
}
h1{
  border-bottom: 1px solid black;
  font-size: 30px;
}
h1{
  font-size: small;
}
p{
  color: maroon;
}
p.greentea {
  color: green;
}
p.raspberry {
  color: blue;
}
p.blueberry {
  color: blueviolet;
}